description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <title>{{ this.page.title }}</title>
        {% styles %}
    </head>
    <body>
        <header class="header {% if this.page.id != 'home' %} active {% endif %}" id="header">
            {% partial 'header' %}
        </header>
        
        <div class="page">
            {% page %}
            
            <footer class="footer" id="footer">
                {% partial 'footer' %}
            </footer>
        </div>
        

        <!--Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
