<section class="section" id="works">
    <div class="container">
        <div class="section__header">
            <h3 class="section__suptitle">What we do</h3>
            <h2 class="section__title">some of our work</h2>
            <div class="section__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>

    <div class="works">
        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/images/works/1.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/images/works/2.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/images/works/3.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/images/works/4.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/images/works/5.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/images/works/6.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/images/works/7.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
        </div>
    </div><!-- /.works -->
</section>