<form method="POST"
    class="comments__form"
    data-request="onSubmit"
    data-request-validate
    data-request-success="this.reset(); alert('Thank you for submitting your inquiry')"
>
    <div class="form-group">
        <label for="first_name">Имя</label>
        <input type="text" name="first_name" class="input">

        <p data-validate-for="first_name" class="text-danger"></p>
    </div>

    <div class="form-group">
        <label for="last_name">Фамилия</label>
        <input type="text" name="last_name" class="input">

        <p data-validate-for="last_name" class="text-danger"></p>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="input">

        <p data-validate-for="email" class="text-danger"></p>
    </div>

    <div class="form-group">
        <label for="content">Сообщение</label>
        <textarea rows="6" cols="20" name="content" class="textarea"></textarea>
        <p data-validate-for="content"  class="text-danger"></p>
    </div>

    <div>
        <button type="submit" class="subscribe__btn" data-attach-loading>Subscribe</button>
    </div>
</form>
