title = "Order"
url = "/order"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

[session]
security = "user"
allowedUserGroups[] = "managers-prod"
allowedUserGroups[] = "admins"
allowedUserGroups[] = "accountant"
allowedUserKeys = "salestoken"
redirect = "home"
==
<!-- from component user [session] allow go in only allowed group users -->
<section class="section  section--post">
    <div class="container">

        <div class="section__header">
            <h2 class="section__title">User is:</h2>
            <div class="section__text">
                <!-- from component user [account]-->
                {% if user %}
                    <span class="">
                        {% if user.client.company %}{{ user.client.company }}:{% endif %}
                        {{ user.name }} {{ user.surname }} ({{ user.username }})
                    </span>
                {% endif %}

                {% if inGroup('managers-prod') %}
                <p>Урааа - это продаваны.</p>
                {% else %}
                <p>Это совсем не Продаваны - кто же это?".</p>
                {% endif %}
            </div>
        </div>

        {% if can('salestoken') %}
            <div class="section__header">
                <h2 class="section__title">Информация ниже доступна для владельцев токена (группового или персонального):</h2>
                <div class="card">
                    <div class="card__item">
                        <div class="card__inner">
                            <div class="card__img">
                                <img src="{{ 'assets/images/about/1.jpg'|theme }}" alt="mac">
                            </div>
                            <div class="card__text">super team</div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Данные ниже доступны только владельцам токена.</p>
        {% endif %}



    </div>
</section>
